header {
	height: 70px;
	background-color: #f2f2f2;
	display: flex;
	align-items: center;
	padding: 0 20px;
}

header img {
	height: 50px;
	margin-right: 20px;
}

nav ul {
	list-style: none;
    margin: 900px;
	padding: 0;
	display: flex;
}

nav li {
    
	margin-left: 20px;
} 

nav a {
	color: #720256;
    font-weight: 800;
    font-size: x-large;
	text-decoration: none;
}

nav a:hover {
	color: rgb(13, 194, 218);
}
